.db-image-with-text {
    max-width: 1248px;
    height: auto;
    display: flex;
    margin: 100px auto;
    align-items: center;
    gap: 52px;
}

.db-image-with-text-words{
    max-width: 580px;
}

.db-image-with-text-words .db-text--gray,.h2{
    padding-bottom: 25px;
}

@media only screen and (max-width: 1200px){
    
    .db-image-with-text{
        flex-direction: column;
        width: 90%;
    }
    .db-image-with-text-words{
        max-width: 90%;
    }
}