* {
    font-family: Poppins;
}

body {
    margin: 0;
}

.db-mainbanner {
    background: url(main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 644px;
    /* margin: none; */
    
}

.db-mainbanner-container {
    width: 753px;
    height: 66vh;
    padding: 208px 344px 164px;
    /* max-width: 0;
    display: block; */
    margin: auto;
    text-align: center; 
    align-items: center;
}

.db-mainbanner-container h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    margin: 0px;
}

.db-mainbanner-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    margin: 25px;
}

.db-mainbanner-container button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 20px;
    width: 137px;
    height: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;

    white-space:nowrap;
    background-color: transparent;

}

/* Section 2 */
.db-sec2 {
    display: flex;
    /* padding: 26px; */
    /* width: 87%; */
    margin: auto;
    text-align: left;
    align-items: center;
    justify-content: center;

    height: 568px;
    /* padding: 0px 17%; */
    max-width: 1248px;
}

.db-image-franchise {
    border-radius: 5px;
    text-shadow: 2px 2px;
    width: 616px;
    height: 356px;
}

.db-container-sec2 {
    margin-left: 52px;
}

.db-container-sec2 h1 {
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    color: #95171c;

    margin: 0px 0px 5px 0px;
}

.db-container-sec2 h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    text-transform: capitalize;
    color: #95171c;

    margin: 0px 0px 25px 0px;
}

.db-container-sec2 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 147%;
    color: #515151;
    
    margin: 0px 0px 27px 0px;
}

.db-container-sec2 button {
    border: 1px solid #ed1c24;
    border-radius: 5px;
    padding: 15px 20px;
    width: 156px;
    height: 50px;

    background: #ed1c24;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    white-space:nowrap;
}

/* Section 3 */
.db-sec3 {
    padding: 65px;
    margin: auto;
    text-align: center;
    align-items: center;
    background: #F5F5F5;
    
}

.db-sec3 h1 {
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    color: #95171c;
    margin: 0;
}

.db-sec3 h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
    color: #95171c;
    margin: 0;

    padding: 10px 0px;
}

.db-sec3 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #515151;
    margin: 0;
}

.db-sec3 button {
    border: 1px solid #ed1c24;
    border-radius: 5px;
    padding: 15px 20px;
    width: 131px;
    height: 50px;

    background: #ed1c24;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;

    white-space:nowrap;
}

.db-container-sec3 {
    display: flex;
    text-align: center;
    justify-content: center;

    gap: 20px;
    padding: 50px 0px;
}

.db-container1-sec3 {
    height: 551px;
    width: 616px;
    display: flex;
    flex-wrap: wrap;

    gap: 23px 20px;
}

.db-container2-sec3 {
    width: 616px;
    height: 551px;
    position: relative;
}

.db-container3-sec3{
    position: absolute;
    text-align: center;

    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
    color: #fff;
} 

.db-description-sec3 {
    width: 829px;
    margin: auto;
}

/* Section 4 */
.db-sec4 {
    /* display: flex; */
    padding: 95px 0px;
    margin: auto;
    text-align: center;
    align-items: center;
    
    background: url(banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

.db-container-sec4 {
    width: 1028px;
    margin: auto;
}

.db-container-sec4 h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    margin: 0px;
}

.db-container-sec4 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;

    margin: 18px 0px;
}

.db-container1-sec4 p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #fff;

    margin: 0px 0px 18px 0px;
}

.db-button1-sec4 {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 20px;
    width: 292px;
    height: 50px;

    background: #fff;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #95171c;

    white-space: nowrap;

    margin: 0px 31px 0px 0px;
}

.db-button2-sec4 {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 20px;
    width: 236px;
    height: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;

    white-space: nowrap;
    background: transparent;
}



/* Section 5 */
.db-sec5 {
    /* display: flex; */
    padding: 26px;
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
}

/* Section 6 */
.db-sec6 {
    /* display: flex; */
    padding: 26px;
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
}

/* Newsletter */
.db-sec-newsletter {
    /* display: flex; */
    padding: 26px;
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
}